.comp_body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    width: 90%;
    max-width: 1450px;
    margin: 8rem 0 1rem 0;
}

.hero_body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3rem;
}

.hero_left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    width: 45%;
}

.hero_head{
    font-size: 55px;
    font-weight: 400;
    line-height: 71.24px;
    letter-spacing: 0.01em;
    text-align: left;  
    color: #000000;
}
.hero_subhead{
    font-size: 24px;
    font-weight: 400;
    line-height: 31.09px;
    letter-spacing: 0.01em;
    color: #000000;
    text-align: left;
}
.hero_btn{
    background: #1766FF;
    padding: 14px 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.09px;
    letter-spacing: 0.01em;
    text-align: center;
    width: 35%;
    min-width: 15rem;
    color: #FFFFFF;
    border-radius: 7px;
    cursor: pointer;
}
.hero_btn:hover {
    background-color: #1e4fb0;
  }

.hero_right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    width: 50%;
}
.hero_box1{
    display: flex;
    align-items: start;
    gap: 1rem;
    width: 100%;
}
.hero_imgbox{
    width: 100%;
}
.hh{
    width: 100%;
}
.hero_box2{
    display: flex;
    align-items: start;
    width: 100%;
}
.hh2{
    width: 100%;
}


.yatchBox{
    margin: 3.5rem 0 1rem 0;
    width: 100%;
}
.section_head{
    font-size: 45px;
    font-weight: 400;
    line-height: 58.29px;
    letter-spacing: 0.01em;
    text-align: left;
}
.section_head2{
    font-size: 36px;
    font-weight: 400;
    line-height: 46.29px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #2B6BE7;
    margin-bottom: 10px;
}
.yatch_slider {
    width: 100%;
    max-width: 1450px;
    /* overflow: hidden; */
    padding: 0px 0;
}

.swiper_slide {
    width: 300px !important;
    min-width: 300px !important;
}

.gridBox {
    width: 100%;
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr)); /* Responsive grid */
    gap:4rem; /* Spacing between cards */
    padding: 20px 0;
}

@media (max-width: 1300px){
    .hero_box2{
      display: none;
    }
    .hero_box1{
        flex-direction: column;
        width: 40%;
    }
    .hero_right{
        align-items: center;
    }
}

@media (max-width: 1024px){
    .hero_right{
        display: none;
    }
    .hero_left{
        width: 100%;
    }
}

@media (max-width: 900px){
    .gridBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}