.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 36px;
    padding: 0;
    width: 400px;
    gap: 1.5rem;
    margin: 1.5rem 0;
}
.imgBox{
    width: 100%;
}
.eventImg{
    width: 100%;
}
.event{
    font-size: 24px;
    font-weight: 400;
    line-height: 31.09px;
    letter-spacing: 0.01em;
    text-align: left;
    margin: 10px 0 0 10px;
    width: 100%;
}